<!---Start stating document type and language-->
<!DOCTYPE html>
<html lang="en">

<!--Link to bootstrap and css file to change formatting-->
<link rel="stylesheet" href="https://bootswatch.com/5/flatly/bootstrap.min.css">
<link rel="stylesheet" href="static/glider.css">
<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

<!---Create a header that has to do with the theme of the homework/webpage-->
<head>
  <meta charset="UTF-8">
  <title>World Suicide Analytics</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary nav-">
  <div class="container-fluid">
      <!---Main navbar look for icon and also see if it can be done vertically-->
      <!---See how title looks -->
    <a class="navbar-brand" href="index.html">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-brightness-alt-low-fill" viewBox="0 0 16 16">
            <path d="M8.5 5.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm5 6a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zM2 11a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0zm10.243-3.536a.5.5 0 1 1-.707-.707.5.5 0 0 1 .707.707zm-8.486-.707a.5.5 0 1 0 .707.707.5.5 0 0 0-.707-.707zM8 7a4 4 0 0 0-4 4 .5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5 4 4 0 0 0-4-4z"/>
          </svg>Understanding world suicide patterns <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-brightness-alt-high-fill" viewBox="0 0 16 16">
            <path d="M8 3a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 3zm8 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zm-13.5.5a.5.5 0 0 0 0-1h-2a.5.5 0 0 0 0 1h2zm11.157-6.157a.5.5 0 0 1 0 .707l-1.414 1.414a.5.5 0 1 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm-9.9 2.121a.5.5 0 0 0 .707-.707L3.05 5.343a.5.5 0 1 0-.707.707l1.414 1.414zM8 7a4 4 0 0 0-4 4 .5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5 4 4 0 0 0-4-4z"/>
          </svg></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Data Analysis
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="tableau.html">Data Dashboard</a></li>
              <li><a class="dropdown-item" href="matplot.html">Data patterns</a></li>
            </ul>
          </li>
        <li class="nav-item">
 <!---See if name is the correct one-->
          <a class="nav-link" aria-current="page" href="model.html">Calculator</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Resources
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="help.html">Help</a></li>
              <li><a class="dropdown-item" href="data.html">Data/References</a></li>
            </ul>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">About us</a>
        </li>
      </ul>
  
    </div>
  </div>
  </nav>
  
  <!---Put project title in -->
  <br>
 <h1>Understanding World Suicide Patterns</h1>
 <br>
 <!---First container-->
 <div class="container">
  <!--Create 1st row -->
    <div class="row gx-5">
      
    <!--Create our columns inside our rows-->
      <div class="col-sm-12 col-xs-12">
<p> <strong> Suicide</strong> is a serious global public health issue. Globally, around <strong> 703 000 people die</strong> by suicide every year and it is among the leading causes of death worldwide, having a higher death count than malaria, HIV/AIDS, breast cancer, or war and homicide. 
  <br>More than <strong> in every 100 deaths (1.3%)</strong> in 2019 were the result of suicide according to the World Health Organization.</p>

<!--Close column-->
      </div>
<!--Close row-->
    </div>
    <hr>
<!--New row-->
    <div class ="row gx-5">
<!--New conlumn-->
        <div class = "col-sm-6 col-xs-6">
          <p> Social, psychological, cultural and other factors can interact leading
          a person to present suicidal behaviour. But one of the main problems is the stigma
          that is connected to mental disorders and suicide, meaning that many
          people don't look for help. With timely interventions, suicide is preventable, but usually mental health and suicide are on the bottom of the list as a
          priority for governments and policy-makers. </p>
        </div>

<!--Close row-->
  </div>
<!--Close container -->
</div>
   <!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
          
    <!-- Copyright sort of? -->
    <div class="text-center p-4 " style="background-color: rgba(0, 0, 0, 0.05);">
      © Created for the Data Analytics Bootcamp of Tecnológio de Monterrey
   
    </div>

  </footer>
  <!-- Footer -->

  </body>
  </html>