

/*Normal headers for sections*/
h1 {
    text-align: center;
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}
     
h2 {
    text-align: center;
    margin: 5px;
    margin-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

h3 {
    text-align: center;
}

}

p {
    margin: 15px;
    text-align: justify

}

dt { 
    font-size: 30pt;
}